/* Jasim Masoomy - 9016820 */
body {
    display: grid;
    grid-template-areas: 
        "header header"
        "main aside"
        "table table"
        "footer footer";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
    text-align: center;
    background-color: rgba(202, 11, 167, 0.788);
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.homenav a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-weight: bold;
}

.homenav a:hover {
    color: pink;
}

main {
    grid-area: main;
    display:block;
    background-color: rgba(251, 144, 231, 0.682);
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

aside {
    grid-area: aside;
    background-color: rgba(248, 43, 210, 0.723);
    border: 1px solid black;
    border-radius: 5px;
    padding: 40px;
    margin: 10px;
}

aside h2 {
    color: rgb(91, 1, 70);
}

aside ul li a:hover {
    color: pink;
}

footer {
    grid-area: footer;
    text-align: right;
    padding: 10px;
    background: linear-gradient(45deg, rgba(202, 11, 167, 0.9), rgba(91, 1, 70, 0.9));
    border: 1px solid black;
    border-radius: 10px;
    color: white;
}

.mainimg {
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 4px solid purple;
    margin: 10px auto;
    display: block;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-weight: bold;
    font-variant: small-caps;
    margin-top: 10px;
}

q {
    font-family: cursive;
    font-style: italic;
    font-size: larger;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery-grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 4px solid purple;
    border-radius: 5px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 100%, 75% 100%, 20% 100%, 0% 75%);
}

.table{
    grid-area:table;
    width:100%;
    border-collapse:collapse;
    margin-top: 1rem;
}

.table th, .table td{
    border: 1px solid purple;
    padding: 0.75rem;
    text-align: left;
}

.table th{
    background-color:purple;
    color:white
}

@media (max-width: 768px) {
    body {
        grid-template-areas:
            "header"
            "main"
            "aside"
            "table"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto auto;
    }

    main, aside {
        float: none;
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    header, footer, form {
        padding: 10px;
    }
}
